<nav class="navbar oscuro">
    <div class="container-fluid">
        <a class="navbar-brand oscuro">Profesores</a>
        <form class="d-flex" role="search">
            <button class="btn btn-outline-light" type="submit" (click)="cerrarSesion()">Logout</button>
        </form>
    </div>
</nav>
<br />

<div class="container my-5">
    <div class="card-body text-center">
        <h4 class="card-title">CURSOS</h4>
        <p class="card-text">Vista general de los cursos a los que esta asignado.</p>
    </div>
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID Curso</th>
                    <th scope="col">Nombre Curso</th>
                    <th scope="col">Inicia</th>
                    <th scope="col">Finaliza</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of cursos">
                    <th scope="row">{{ curso.id_course }}</th>
                    <td>{{ curso.name }}</td>
                    <td>{{ curso.start_time }}</td>
                    <td>{{ curso.end_time }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>